<form [formGroup]="loginForm" class="login-form-grid" (ngSubmit)="onSubmit()">

<!-- radio buttons -->

	<span class="radio-btns">
		<label>
			<input type="radio" formControlName="isRegistering" value="" tabindex="101">
			Sign In
		</label>
		<label>
			<input type="radio" formControlName="isRegistering" value="true" tabindex="101">
			Create Account
		</label>
	</span>

	<!-- username -->

	<label *ngIf="isRegistering.value" class="username text-input-box" [ngClass]="[usernameTaken ? 'invalid' : '']">
		<em>Sorry, "{{usernameTaken}}" is already taken.</em>
		<i class="glyphicon glyphicon-user"></i>
		<input type="text" formControlName="username" placeholder="Username" maxlength="24" tabindex="102" (focusout)="checkUsernameTaken()">
		<div class="input-backdrop"></div>
	</label>

	<!-- email  -->

	<label class="email text-input-box" [ngClass]="[(email.invalid && email.touched) || (emailTaken  && isRegistering.value) ? 'invalid' : '']">
		<em>
			<div *ngIf="email.invalid">Please enter a valid email.</div>
			<div *ngIf="emailTaken && isRegistering.value">Sorry, "{{emailTaken}}" is already in use.</div>
		</em>
		<i class="glyphicon glyphicon-envelope"></i>
		<input type="email" id="email" formControlName="email" placeholder="example@email.com" maxlength="24" tabindex="103" (focusout)="checkEmailTaken()">
		<div class="input-backdrop"></div>
	</label>

	<!-- password -->

	<label class="password text-input-box" [ngClass]="[password.invalid && password.touched ? 'invalid' : '']">
		<em>Please enter a password</em>
		<i class="glyphicon glyphicon-lock"></i>
		<input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password" maxlength="24" tabindex="104">
		<i class="glyphicon" [ngClass]="[showPassword ? 'glyphicon-eye-close' : 'glyphicon-eye-open']" 
			(click)="togglePasswordVisibility()" (keydown.enter)="togglePasswordVisibility()" tabindex="105">
		</i>
		<div class="input-backdrop"></div>
	</label>

	<!-- confirm password -->

	<label *ngIf="isRegistering.value" class="confPassword text-input-box" [ngClass]="[!passValidator() && confPassword.touched ? 'invalid' : '']">
		<em>Passwords Must Match</em>
		<i class="glyphicon glyphicon-lock"></i>
		<input [type]="showPassword ? 'text' : 'password'" formControlName="confPassword" placeholder="Confirm Password" maxlength="24" tabindex="106">
		<i class="glyphicon" [ngClass]="[showPassword ? 'glyphicon-eye-close' : 'glyphicon-eye-open']" 
			(click)="togglePasswordVisibility()" (keydown.enter)="togglePasswordVisibility()" tabindex="107">
		</i>
		<div class="input-backdrop"></div>
	</label>

	<!-- submit button -->

	<button type="submit" class="btn btn-primary login-btn" tabindex="108"
		[disabled]="!loginForm.valid || ((!passValidator() || usernameTaken || emailTaken) && isRegistering.value)"
	>
		{{isRegistering.value ? 'Create Account!' : 'Sign In!'}}
	</button>

	<!-- remember me check-box -->

	<label class="remember-box">
		<input type="checkbox" formControlName="rememberBox" tabindex="109">
		Remember Me
	</label>

	<!-- backdrop div -->

	<div class="backdrop"></div>

</form>