.post-list-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	text-align: center;
	border-radius: 5px 5px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%;

	background-image: 
		linear-gradient(to right, 
			rgba(64, 64, 64, .25), 
			rgba(128, 125, 128, 0.25), 
			rgba(255, 255, 255, .25));
}
