@import "../../../environments/environment.scss";

/* grid stuff */

.navbar-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: $navbar-height;
	grid-template-areas:
		"logo posts search profile";

	// background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	// background-color: rgba(0, 0, 0, 1);
}

.logo { grid-area: logo; }

.posts { grid-area: posts; }

.search { grid-area: search; }

.profile { grid-area: profile; }

/* end grid stuff */

/* router link stuff */

.routerLink {
	outline: none;
	width: 100%;
	height: $navbar-height;
	font-size: $icon-height;
	text-align: center;
	padding-top: ($navbar-height - $icon-height) / 2;
	background-color: rgba(0, 0, 0, .9);
}

.routerLink:hover {
	cursor: pointer;
}

.activeRoute {
	background-image: linear-gradient(rgba(100, 100, 100, .9), rgba(0, 0, 0, .9));
}

/* end router link stuff */

/* sliding underline stuff */ 

#phase-in, #phase-out {
	position: absolute;
	height: .15rem;
	width: 25%;
	top: 23px;
	background: rgba(255, 255, 255, .8);
	border: none;
	pointer-events: none;
}

#phase-in {
	margin-left: -25%;
	visibility: hidden;
	transition: margin-left .3s;
}

#phase-out {
	margin-left: 100%;
	visibility: visible;
	transition: .3s ease-in-out, margin-left .3s;
}

.logo:hover ~ #phase-in, .posts:hover ~ #phase-in, .search:hover ~ #phase-in, .profile:hover ~ #phase-in {
	visibility: visible;
	transition: .3s ease-in-out;
}

.logo:hover ~ #phase-out, .posts:hover ~ #phase-out, .search:hover ~ #phase-out, .profile:hover ~ #phase-out {
	visibility: hidden;
	transition: 0s;
}

.logo:hover ~ #phase-in, .logo:hover ~ #phase-out {
	margin-left: 0%;
}

.posts:hover ~ #phase-in, .posts:hover ~ #phase-out {
	margin-left: 25%;
}

.search:hover ~ #phase-in, .search:hover ~ #phase-out {
	margin-left: 50%;
}

.profile:hover ~ #phase-in, .profile:hover ~ #phase-out {
	margin-left: 75%;
}

/* end sliding underline stuff */

.navbar-grid .shade {
	height: 150px;
	background-image: 
		linear-gradient(
			rgba(0, 0, 0, .9), 
			rgba(0, 0, 0, .6),
			rgba(0, 0, 0, .3), 
			rgba(0, 0, 0, 0));
}