@import "../../../environments/environment.scss";

/* grid stuff */

.navbar-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: $navbar-height;
	grid-template-areas:
		"logo posts search profile";
	color: white;
}

.logo { grid-area: logo; }

.posts { grid-area: posts; }

.search { grid-area: search; }

.profile { grid-area: profile; }

/* end grid stuff */

/* router link stuff */

.routerLink {
	border-left: 1px solid rgba(255, 255, 255, .5);
	outline: none;
	width: 100%;
	height: $navbar-height;
	font-size: $icon-height;
	text-align: center;
	padding: ($navbar-height - $icon-height) / 2;
}

.routerLink:hover {
	cursor: pointer;
}

.activeRoute {
	background-color: rgba(255, 255, 255, .2);
	transition: .15s ease-in-out;
}

/* end router link stuff */

/* sliding underline stuff */ 

#phase-in, #phase-out {
	position: absolute;
	height: .25rem;
	width: 25%;
	top: 23px;
	background: rgba(255, 255, 255, .8);
	border: none;
	pointer-events: none;
}

#phase-in {
	margin-left: -25%;
	visibility: hidden;
	transition: margin-left .3s;
}

#phase-out {
	margin-left: 100%;
	visibility: visible;
	transition: .3s ease-in-out, margin-left .3s;
}

.logo:hover ~ #phase-in, .posts:hover ~ #phase-in, .search:hover ~ #phase-in, .profile:hover ~ #phase-in {
	visibility: visible;
	transition: .3s ease-in-out;
}

.logo:hover ~ #phase-out, .posts:hover ~ #phase-out, .search:hover ~ #phase-out, .profile:hover ~ #phase-out {
	visibility: hidden;
	transition: 0s;
}

.logo:hover ~ #phase-in, .logo:hover ~ #phase-out {
	margin-left: 0%;
}

.posts:hover ~ #phase-in, .posts:hover ~ #phase-out {
	margin-left: 25%;
}

.search:hover ~ #phase-in, .search:hover ~ #phase-out {
	margin-left: 50%;
}

.profile:hover ~ #phase-in, .profile:hover ~ #phase-out {
	margin-left: 75%;
}

/* end sliding underline stuff */