<div class="navbar-grid">

	<span class="logo routerLink" [routerLink]="['/']" [routerLinkActive]="['activeRoute']"
		[routerLinkActiveOptions]="{exact:true}"><i class="glyphicon glyphicon-home"></i></span>

	<span class="posts routerLink" [routerLink]="['/posts']" [routerLinkActive]="['activeRoute']"><i class="glyphicon glyphicon-book"></i></span>

	<span class="search routerLink" [routerLink]="['/search']" [routerLinkActive]="['activeRoute']"><i class="glyphicon glyphicon-search"></i></span>

	<!--eventually toggle between Login and Profile-->
	<span *ngIf="true" class="profile routerLink" [routerLink]="['/login']"
		[routerLinkActive]="['activeRoute']"><i class="glyphicon glyphicon-log-in"></i></span>
	<span *ngIf="false" class="profile routerLink" [routerLink]="['/profile']"
		[routerLinkActive]="['activeRoute']"><i class="glyphicon glyphicon-user"></i></span>
	
	<div class="shade"></div>
	<div class="shade"></div>
	<div class="shade"></div>
	<div class="shade"></div>

	

	<hr id="phase-in">
	<hr id="phase-out">

</div>
