.navbar-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
		"logo posts search profile";
	justify-items: center;
	align-items: center;
	
	height: 100%;
	background-color: #fff;
	background: radial-gradient(farthest-corner at 1px 1px, #aaa 0%, #eee 100%);
}

.logo {
	grid-area: logo;
}

.posts {
	grid-area: posts;
	border-right: 1px solid #fff;
}

.search {
	grid-area: search;
	min-width: min-content;
}

.search input {
	min-width: 0px;
}

.profile {
	grid-area: profile;
}

.routerLink {
	border-left: 1px solid #fff;
	outline: none;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 12px; // this padding is used to center the text vertically
}

.routerLink:hover {
	cursor: pointer;
}

.activeRoute {
	box-shadow: -2px -2px #000 inset;
}

i:hover {
	cursor: pointer;
}

i:active {
	box-shadow: -1px -1px 3px #ccc inset;
}