@import url("//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

html, body {
	height: 100%;
}

body {
	background-image: url('./assets/dave-zuZy4FGHCII-unsplash.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto 100%;
	background-position: right;
	background-color:rgba(0, 0, 0, 1);
	box-shadow: 5px 5px 75px 75px black inset;

	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; 
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	color: white;

	z-index: 0;
}

