@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

html, body {
	height: 100%;
}

body {
	background-image: url('./assets/dave-zuZy4FGHCII-unsplash.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto 100%;
	background-position: right;
	background-color:rgba(0, 0, 0, 1);

	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; 
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	color: white;

	z-index: 0;
}

/** Text Input Field Stuff */

.text-input-box {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"icon text-box";
	align-content: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: white;
	width: 98%;
	padding: 0;
	height: min-content;
}

.text-input-box i {
	margin: 0;
	padding: 5px 8px 5px 8px;
	height: 95%;
	align-self: center;
	color: #555;
	background-color: white;
	border-radius: 5px 0px 0px 5px;
}

.text-input-box input {
	border: none;
	border-left: 1px solid #ccc;
	outline: none;
	padding: 5px;
	background-color: white;
	border-radius: 0px 5px 5px 0px;
}

/** End of Text Input Field Stuff */

