@import "../../../environments/environment.scss";

$navItems: 5;

/* grid stuff */

.navbar-grid {
	display: grid;
	grid-template-columns: repeat($navItems, 1fr);
	grid-template-rows: $navbar-height;
	box-shadow: 0px 0px 75px 50px black;
}

/* end grid stuff */

/* router link stuff */

.routerLink {
	outline: none;
	width: 100%;
	height: $navbar-height;
	font-size: $icon-height;
	text-align: center;
	padding-top: ($navbar-height - $icon-height) / 2;
	background-color: rgba(0, 0, 0, .9);
}

.routerLink:hover {
	cursor: pointer;
}

.activeRoute {
	background-image: linear-gradient(rgba(100, 100, 100, .9), rgba(0, 0, 0, .9));
}

/* end router link stuff */

/* sliding underline stuff */ 

#phase-in, #phase-out {
	position: absolute;
	height: .15rem;
	width: 25%;
	top: $navbar-height;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	pointer-events: none;
	margin-top: 0px;
}

#phase-in {
	margin-left: -25%;
}

#phase-out {
	margin-left: 100%;
	transition: margin-left .3s ease-in-out, background-color .5s ease-in-out;
}

.navbar-grid:hover #phase-in {
	background-color: rgba(255, 255, 255, .8);
	transition: margin-left .3s ease-in-out, background-color .5s ease-in-out;
}

.navbar-grid:hover #phase-out {
	background-color: rgba(255, 255, 255, .8);
	transition: margin-left .3s ease-in-out, background-color .5s .3s ease-in-out;
}

.navItem-0:hover ~ #phase-in, .navItem-0:hover ~ #phase-out {
	margin-left: 0%;
}

.posts:hover ~ #phase-in, .posts:hover ~ #phase-out {
	margin-left: 25%;
}

.search:hover ~ #phase-in, .search:hover ~ #phase-out {
	margin-left: 50%;
}

.profile:hover ~ #phase-in, .profile:hover ~ #phase-out {
	margin-left: 75%;
}

/* end sliding underline stuff */
