<div class="navbar-grid">

	<span *ngFor="let item of navItems; let i = index" class="routerLink" [ngClass]="'navItem-' + i" 
		[routerLink]="['/' + item]" [routerLinkActive]="['activeRoute']">
		<i class="glyphicon" [ngClass]="'glyphicon-' + item"></i>
	</span>

	<!-- <span class="logo routerLink" [routerLink]="['/']" [routerLinkActive]="['activeRoute']"
		[routerLinkActiveOptions]="{exact:true}"><i class="glyphicon glyphicon-home"></i></span>

	<span class="posts routerLink" [routerLink]="['/posts']" [routerLinkActive]="['activeRoute']">
		<i class="glyphicon glyphicon-book"></i>
	</span>

	<span class="search routerLink" [routerLink]="['/search']" [routerLinkActive]="['activeRoute']">
		<i class="glyphicon glyphicon-search"></i>
	</span> -->

	<!--eventually toggle between Login and Profile -->
	<!-- <span *ngIf="!loginService.getUser()" class="profile routerLink" [routerLink]="['/login']"
		[routerLinkActive]="['activeRoute']">
		<i class="glyphicon glyphicon-log-in"></i>
	</span>
	<span *ngIf="loginService.getUser()" class="profile routerLink" [routerLink]="['/profile']"
		[routerLinkActive]="['activeRoute']">
		<i class="glyphicon glyphicon-user"></i>
	</span> -->

	<hr id="phase-in">
	<hr id="phase-out">

</div>