@import "../../../environments/environment.scss";

/* grid stuff */

.navbar-grid {
	display: grid;
	grid-template-columns: repeat($nav-items, 1fr);
	grid-template-rows: $navbar-height;
	background-color: rgba(0, 0, 0, .9);
	box-shadow: 0px 0px 75px 50px rgba(0, 0, 0, 1);
}

/* end grid stuff */

/* router link stuff */

.routerLink {
	outline: none;
	width: 100%;
	height: $navbar-height;
	text-align: center;
	font-size: $icon-height;
	padding-top: ($navbar-height - $icon-height) / 2;
	cursor: pointer;
}

.activeRoute {
	background-image: linear-gradient(rgba(100, 100, 100, .9), rgba(0, 0, 0, .9));
}

/* end router link stuff */

/* sliding underline stuff */ 

#phase-in, #phase-out {
	position: absolute;
	height: .15rem;
	width: percentage(1 / $nav-items);
	top: $navbar-height;
	margin-top: 0px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	pointer-events: none;
}

#phase-in {
	margin-left: percentage(-1 / $nav-items);
}

#phase-out {
	margin-left: 100%;
	transition: margin-left .3s ease-in-out, background-color .5s ease-in-out;
}

.navbar-grid:hover #phase-in {
	background-color: rgba(255, 255, 255, .8);
	transition: margin-left .3s ease-in-out, background-color .5s ease-in-out;
}

.navbar-grid:hover #phase-out {
	background-color: rgba(255, 255, 255, .8);
	transition: margin-left .3s ease-in-out, background-color .5s .3s ease-in-out;
}

@for $i from 0 through $nav-items {
	.navbar-grid .navItem-#{$i}:hover ~ #phase-in, .navbar-grid .navItem-#{$i}:hover ~ #phase-out {
		margin-left: percentage(($i) / $nav-items);
	}
}

/* end sliding underline stuff */
